.editor-container {
  position: relative;
  width: 85%;
  padding: 5px 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  .typing {
    position: absolute;
    align-self: center;
    margin-bottom: 7px;
  }
  .send-message {
    align-self: flex-end;
  }
  .img-container {
    margin-top: 10px;
  }
  .editor-input-container {
    width: 100%;
    display: flex;
    margin-top: 25px;
    textarea {
      resize: none;
    }
  }
}
