.profile-header-container {
  position: relative;
  background-color: #5580a3;
  color: #ffffff;
  padding: 0 20px 15px;
  .profile-header-info-container {
    display: flex;
    .profile-image-container {
      display: flex;
      flex-grow: 1;
      .img-container {
        height: 80px;
        border-radius: 50%;
        img {
          width: 80px;
          height: 80px;
          max-width: 80px;
          max-height: 80px;
          border-radius: 50%;
          position: absolute;
          object-fit: cover;
        }
        .remove-image {
          display: none;
          width: 15px;
          font-size: 20px;
          height: 0;
          top: -10px;
          text-align: center;
          margin: 0 0 0 auto;
          position: relative;
          cursor: pointer;
        }
      }
    }
    .with-remove-icon .remove-image {
      display: block !important;
    }
    .profile-name-container {
      display: flex;
      flex-grow: 2;
      .profile-username {
        margin: auto 0;
      }
    }
  }
  .select-image-container, .select-chat-container {
    z-index: 1;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 60px;
    width: 60px;
    color: gray;
    transform: translate(-50%, 50%);
    box-shadow: 0 0 4px #888888;
    &:hover {
      color: #5580a3;
    }
    mat-form-field {
      width: 100%;
      height: 100%;
      color: transparent;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
    }
    mat-icon {
      height: 30px;
      width: 35px;
      transform: translate(50%, 50%);
      margin: auto;
    }
  }
  .select-chat-container {
    mat-icon {
      transform: translate(55%, 60%);
    }
  }
}
