.App {
  text-align: center;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

a {
  text-decoration: none;
  color: white;
}

.error-message {
  color: darkred;
  text-align: center;
  margin: 10px 0;
}

.container {
  padding: 20px;
}
